/* @fontface {
  font-family: 'Roboto Slab';
  src: url('https://fonts.googleapis.com/css?family=Roboto+Slab:700')
} */

@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:700');

@fontface {
  font-family: 'Avenir';
  src: url('./Avenir.ttc')
}
