body {
  background-color: #FBA67C;
}

.icon {
  width: 225px;
}

.info {
  color: #FFF;
  display:flex;
  justify-content:center;
  align-items:center;
}

.image {
  display: inline-block;
  margin-right: 50px;
}

.content {
  display: inline-block;
  margin-top: 10px;
}

.phone-number {
  font-family: 'Avenir' !important;
  background-color: #FFC3A5;
  padding: 14px;
  color: #FFF;
  margin: 0;
  font-family: sans-serif;
  font-size: 15px;
  appearance: none;
  box-shadow: none;
  border-radius: none;
  border: none;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: #FFF;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.phone-number:focus {
  outline: none;
}

.submit {
  font-family: 'Avenir' !important;
  width: 15%;
  background-color: #FFC3A5;
  border-left: solid 1px #FFF;
  border-right: none;
  border-top: none;
  border-bottom: none;
  padding: 14px;
  margin: 0;
  color: #FFF;
  font-family: sans-serif;
  font-size: 15px;
  appearance: none;
  box-shadow: none;
  border-radius: none;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.submit:focus {
  outline: none;
}

.submit:hover {
  outline: none;
  background-color: #F9B99A;
}

.content h1 {
  font-family: 'Roboto Slab';
  font-weight: 700;
  font-size: 50px;
  margin-bottom: 7px;
}

.content p {
  font-family: 'Avenir';
  font-weight: 300;
  font-size: 18px;
  margin-bottom: 18px;
}

.vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
  margin-right: 20px;
}
